@page
@model Event.RazorWebApp.Pages.Category.PaymentPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.TicketQuantity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.TicketQuantity)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.PaymentDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.PaymentDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.AmountPaid)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.AmountPaid)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.Status)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.Status)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.PaymentType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.PaymentType)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.CreatedBy)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.CreatedBy)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.CreatedDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.CreatedDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.UpdatedBy)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.UpdatedBy)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.UpdatedDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.UpdatedDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.RegistrationId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.RegistrationId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Payment.TicketId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Payment.TicketId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="update-button task-button custom-link" asp-route-id="@Model.Payment.PaymentId">Edit</a> |
    <a asp-page="./Index" class="get-button task-button custom-link">Back to List</a>
</div>

<style>
    .custom-link {
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        color: #EEEEEE;
    }

    .task-button {
        margin: 3px;
        color: #fff;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .get-button {
        background-color: #0000FF;
    }

        .get-button:hover {
            background-color: #3333CC;
        }

    .update-button {
        background-color: #FFCC00;
    }

        .update-button:hover {
            background-color: #FF9900;
        }
</style>
