@page
@model Event.RazorWebApp.Pages.Category.PaymentPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].TicketQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Registration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Ticket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.RegistrationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.TicketId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PaymentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PaymentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
