@page
@model Event.RazorWebApp.Pages.RegistrationPage.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="row">
<div class="col-md-6">
<h1>REGISTRATIONS</h1>
</div>
<div class="col-md-6 text-end">
<p>
            <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>   
</div>
</div>
<form method="get" asp-page="./Index" class="mb-4">
    <div class="row g-2">
        <div class="col-md-2">
            <label for="id" class="form-label">Id:</label>
            <input type="text" name="id" id="id" value="@Model.Id" class="form-control" />
        </div>
        <div class="col-md-2">
            <label for="eventId" class="form-label">EventId:</label>
            <input type="text" name="eventId" id="eventId" value="@Model.EvenId" class="form-control" />
        </div>
        <div class="col-md-2">
            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" id="name" value="@Model.Name" class="form-control" />
        </div>
        <div class="col-md-2">
            <label for="type" class="form-label">Type:</label>
            <input type="text" name="type" id="type" value="@Model.Type" class="form-control" />
        </div>
        <div class="col-md-2">
            <label for="mail" class="form-label">Mail:</label>
            <input type="text" name="mail" id="mail" value="@Model.Mail" class="form-control" />
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </div>
</form>
   @*  @{
        var datapaging = new Event.RazorWebApp.Helper.PagingModel
        {
            currentPage = Model.CurrentPage,    // trang hiện tại
            countPages = Model.CountPages,   // tổng  số trang
            generateUrl = (int? p) => Url.Page("/Category/RegistrationPage/Index", new { p = p })
        };

    }
    <partial name="_Paging" model="@datapaging" /> *@
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].RegistrationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].VistorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].ParticipantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].ParticipantType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].AttendeeEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].RegistrationPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].FeePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].Checkin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].CheckinTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrations[0].CustomerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Registrations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VistorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendeeEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationPhone)
            </td>
            <td>
                @if (item.Gender == true)
                {
                        <span>Male</span>
                }
                else
                {
                        <span>Female</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeePaid)
            </td>
                <td>
                    @if (item.Checkin == true)
                    {
                        <span>Checked in</span>
                    }
                    else
                    {
                        <span>Not yet</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckinTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.RegistrationId" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.RegistrationId" class="btn btn-info btn-sm">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.RegistrationId" class="btn btn-danger btn-sm">Delete</a>
                </td>
        </tr>
}
    </tbody>
    <div class="pagination">
        @{
            var previousDisabled = Model.PageIndex <= 1 ? "disabled" : "";
            var nextDisabled = Model.Registrations.Count < Model.PageSize ? "disabled" : "";
        }
        <a asp-page="Index" asp-route-pageIndex="@(Model.PageIndex - 1)" class="btn btn-primary @previousDisabled">Previous</a>
        <a asp-page="Index" asp-route-pageIndex="@(Model.PageIndex + 1)" class="btn btn-primary @nextDisabled">Next</a>
    </div>
</table>